<!DOCTYPE html>
<html>
    <head>
        <title>No resource found</title>
        <meta description="No resource found">
        <meta charseft="UTF-8">
        <meta name="viewport" content="width=device_width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/favicon.webp">
    </head>
    <body>
        {{>header}}
        <div>
            <h2>{{notFound}}</h2>
        </div>
        {{>footer}}
    </body>
</html>