<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <meta charset="UTF-8">
        <meta description="help for users">
        <meta name="viewport" content="width=device_width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/favicon.webp">
    </head>
    <body>
        {{>header}}
        <h2>{{title}}</h2>
        <img src="/img/john-lemon.jpg" alt="John Lemon">
        {{>footer}}
    </body>
</html>