<footer>
    <p>Created by {{name}}</p>
</footer>

<!-- Para poder inyectar partials en otros archivos de
extensión .hbs, tienes que implementar la sintaxis que hbs
proporciona.

Este partial llamado footer, será renderizado en cualquier
página web que sea servida por nuestro servidor web.

Para que sea renderizado, tendrémos que agregar una línea
que usa hbs EN CADA ARCHIVO .hbs que requiera de este 
partial: 

Unas llaves ({}) que son encerradas por otras llaves ({}) 
que a su vez encierra al signo de mayor qué (>) seguido 
del nombre del partial (footer). -->