<header>
    <nav>
        <ul>
            <li> 
                <h1>Weather App</h1>
            </li>
            <li>
                <a href="http://localhost:3000/">Weather</a>
            </li>
            <li>
                <a href="http://localhost:3000/about">About</a>
            </li>
            <li>
                <a href="http://localhost:3000/help">Help</a>
            </li>
        </ul>
    </nav>
</header>

<!-- ESTO SOLO SERÃ UN PARTIAL, ES DECIR UNA PARTE 
REUTILIZABLE EN TODAS LAS WEBPAGES SERVIDAS POR NUESTRO
SERVIDOR. LO USAREMOS PARA QUE SEA RENDERIZADO EN EL 
TOPE DE TODOS NUESTROS OTROS ARCHIVOS hbs.

PARA HACER ESO, TENEMOS QUE RENDERIZAR EL PARTIAL en los
archivos hbs individuales que necesiten de este partial.

cond unas llaves "{}" encerrando otras llaves "{}" 
que encierran el nombre de este partial "header" que es 
antecedido por ">" -->